@import url(default.css);
@import url(common.css);



.tour {
    height: 500px;
    background-color: #13885E;
    color: #fff;
}
.tour h2 {
    padding: 59px 0 54px 0;
    font-size: 50px;
    font-weight: 700;
}
.tour ul li {
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0 50px 0 50px;
    width: 168px;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: center;
}
.tour ul li a {
    display: block;
    height: 197px;
}
.tour ul li a .btn_wrap {
    display: block;
}
.tour ul li a i {
    margin: 50px 0 6px 0;
    font-size: 57px;
}
.tour ul li a strong {
    display: block;
    font-size: 20px;
}
.tour ul li a .out,
.tour ul li a .over {
    display: block;
    height: 197px; /*a의 높이와 동일한 값*/
}
.tour ul li a .over {
    background-color: #fff;
    color: #13885E;
}
.tour ul li a .up_wrap {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;/*bottom정렬인데 높이가 늘어나면 밑에서부터 위로 늘어남*/
    width: 100%;
    height: 0;
    background-color: #fff;
    color: #13885E;
}
.tour ul li a .up_wrap .up {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 197px;/*a의 높이값*/
    background-color: #fff;
    color: #13885E;
} 

/* 오버효과 - transition */
.tour ul li.ico1 a i {/*아이콘이 빙빙 돌아감*/
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.tour ul li.ico1 a:hover i {
    transform: rotateY(360deg);
}

.tour ul li.ico2 a {/*배경과 글자색이 스윽 바뀜*/
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
.tour ul li.ico2 a:hover {
    background-color: #fff;
    color: #13885E;
}

.tour ul li.ico3 a .btn_wrap {/*위로 올라가고 아래에서 위로 올라오면서 바뀜*/
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
.tour ul li.ico3 a:hover .btn_wrap {
    transform: translate(0, -197px); /*a의 높이값만큼 이동*/
}

.tour ul li.ico4 a .up_wrap {/*밑에서 위로 올라옴*/
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
.tour ul li.ico4 a:hover .up_wrap {
    height: 100%;
}



/*슬라이드*/
.slide {
    margin: 100px 0;
}
.slide .slide_wrap {
    overflow: hidden;
    width: 0; 
    /*일단 넓이가 0~100%로 변경되는 애니메이션을 줄 예정
     첫 설정에서 50%로 넓이를 제한하고 그 내부요소가 slide_cnt가 slide와 영역이 동일해야함
     slide_cnt의 영역이 짤리면 안됨 */
}
.slide .slide_wrap .slide_cnt {
    position: relative;
    width: 1400px;
    height: 554px;
}
.slide .slide_wrap .slide_cnt h2 {
    position: absolute;
    right: 169px;
    top: 181px;
    font-size: 47px;
    color: #fff;
    text-align: right;
}
/*애니메이션 -transition 마우스 아웃효과가 무조건 들어감*/
/* .slide .slide_wrap {
    transition: 1s;
}
.slide:hover .slide_wrap {
    width: 100%;
} */

/*애니메이션 animation - 마우스가 오버하고 아웃해도 효과가 사라지지 않았으면 할때는
slide에 hover이 아니라 jquery에서 slide에 오버를 하면 over라는 클래스 추가
해당 클래스가 추가됐을때 animate가 작동됨*/
.slide.over .slide_wrap {
    animation-name: size100;
    animation-duration: 1s;/*애니메이션 실행시간*/
    animation-fill-mode: forwards;/*애니메이션 종료 후 100% 상태유지*/
}
@keyframes size100 {
    0% { width: 0; }
    100% { width: 100%; }
}