/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*1400px 이하부터 320px까지 모든 사이즈 반응형
     1400px 일때도 좌우에 여백은 유지해야함
     (1400이상에서 1400이하로 변경되는 점- 반응형으로 전환되는점)
     부드럽게 여백을 유지하면서 전환
     원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
     1400px이 콘텐츠 영역인데 왼쪽20 오른쪽 20 =1440px
     padding으로 좌우에 여백을 20px씩 줌
     */
}

@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }   
}

@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/*브라우저에서 글자를 드래그했을때 드래그한 영역의 색과 글자색
 -moz- -webket- 이 앞에 붙은 속성은 표준화 되지 않은 속성*/
::selection{background:#DB2319;color:#fff;}
::-moz-selection{background:#DB2319;color:#fff;}
::-webkit-selection{background:#DB2319;color:#fff;} 


.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    color: #fff;
}
.header .logo {
    float: left;
    margin: 30px 0 0 40px;
}
.header .logo a {
    display: block;
    width: 192px;
    height: 39px;
    background-image: url(../images/common/logo_w.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    float: right;
    margin: 0 4px 0 0;
}
.header .gnb .gnb_open {
    display: none;
}
.header .gnb ul li {
    float: left;
}
.header .gnb ul li a {
    display: block;
    padding: 0 36px;
    line-height: 100px; /*header의 높이값, 글자를 위아래 가운데 배치*/
    font-size: 25px;
}
/*header가 고정일때*/
.header.black {
    border-bottom: 0;
    background-color: #fff;
    color: #1d1d1d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.header.black .logo a {
    background-image: url(../images/common/logo.svg);
}

/*
1440
1200
1000
800
640
*/

@media screen and (max-width:1200px){
    .header .gnb ul li a {
        padding: 0 30px;
        font-size: 20px;
    }
}
@media screen and (max-width:1000px){
    .header .gnb ul li a {
        padding: 0 25px;
        font-size: 20px;
    }
}
@media screen and (max-width:800px){
    .header .gnb .gnb_open {
        display: block;
        padding: 37px 27px 24px 20px;
    }
    .header .gnb .gnb_open span {
        display: block;
        width: 35px;
        height: 3px;
        margin-bottom: 8px;
        border-radius: 2px;
        background-color: #fff;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb ul {
        display: none;
    }
    
    .header.black .gnb .gnb_open span {
        background-color: #1d1d1d;
    }
}
@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 20px 0 0 20px;
    }
    .header .logo a {
        width: 96px;
        height: 20px;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        padding: 22px 20px 18px 20px;
    }
    .header .gnb .gnb_open span {
        display: block;
        width: 23px;
        height: 2px;
        margin-bottom: 4px;
        border-radius: 1px;
        background-color: #fff;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb ul {
        display: none;
    }
    .header.black .gnb .gnb_open span {
        background-color: #1d1d1d;
    }
    .header.fixed {
        border-bottom: 0;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .header.fixed .logo a,
    .header.fixed.black .logo a {
        background-image: url(../images/common/logo_w.svg);
    }
    .header.fixed .gnb .gnb_open span,
    .header.fixed.black .gnb .gnb_open span {
        background-color: #fff;
    }
    
}/*header 모바일 종료*/

.footer {
    border-top: 1px solid #ccc;
}
.footer .fnav {
    float: right;
    margin: 67px 0 100px 0;
}
.footer .fnav li a {
    display: block;
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    line-height: 44px;
    color: #666;
}
.footer .inner {
    float: left;
    margin: 80px 0 0 0;
}
.footer .flogo {
    width: 77px;
    height: 81px;
    background: url(../images/common/logo.svg) no-repeat left top / auto 81px;
}
.footer .copyright {
    margin: 18px 0 0 0;
    color: #666;
}

@media screen and (max-width:800px){
    .footer .flogo {
        width: 67px;
        height: 69px;
        background: url(../images/common/logo.svg) no-repeat left top / auto 69px;
    }
    .footer .fnav li a {
        font-size: 21px;
        line-height: 35px;
    }
    .footer .fnav {
        margin: 83px 0 84px 0;
    }
}
@media screen and (max-width:640px){
    .footer .fnav {
        float: none;
        margin: 57px 0 22px 0;
    }
    .footer .fnav li a {
        font-size: 18px;
        line-height: 30px;
    }
    .footer .inner {
        float: none;
        margin: 0;
    }
    .footer .flogo {
        display: none;
    }
    .footer .copyright {
        margin: 0 0 54px 0;
        text-align: right;
    }
}