/* 콘텐츠 페이지 스타일 */

/* 소개의장 > 인사말 */
.cnt_greeting {
    margin: 0 0 120px 0;
}
.cnt_greeting .tit {
    margin: 0 0 20px 0;
    font-size: 25px;
}
.cnt_greeting .tit strong {
    color: #0059A8;
    font-weight: 700;
}
.cnt_greeting .bg {
    position: relative;
    width: calc(50% + 700px); /* 콘텐츠영역의 넓이 1400px의 절반 700px */
    left: calc(50% - 700px);
    height: 280px;
    background: url(../images/contents/greeting_img1.png) no-repeat center top 8% / cover;
}
.cnt_greeting .txt_wrap {
    margin: 28px 0 0 0;
}
.cnt_greeting  .txt_wrap .colgroup1 {
    float: left;
    width: 660px;
}
.cnt_greeting  .txt_wrap .colgroup2 {
    float: right;
    width: 660px;
}
.cnt_greeting  .txt_wrap p {
    text-align: justify; /* 양쪽정렬 */
    word-break: normal; /* 단어별로 줄바꿈 해제 - word-break:keep-all 유지하면 자간이 늘어남 */
}
.cnt_greeting  .txt_wrap .sign {
    margin: 40px 0 0 0;
    font-size: 25px;
    text-align: right;
}
@media screen and (max-width:640px){
    .cnt_greeting {
        margin: 0 0 80px 0;
    }
    .cnt_greeting .tit {
        margin: 0 0 33px 0;
        font-size: 20px;
    }
    .cnt_greeting .bg {
        width: 100%;
        left: auto;
        height: 214px;
    }
    .cnt_greeting .txt_wrap {
        margin: 38px 0 0 0;
    }
    .cnt_greeting  .txt_wrap .colgroup1 {
        float: none;
        width: auto;
    }
    .cnt_greeting  .txt_wrap .colgroup2 {
        float: none;
        width: auto;
    }
    .cnt_greeting  .txt_wrap p {
        text-align: left; 
        word-break: keep-all; 
    }
    .cnt_greeting  .txt_wrap .sign {
        margin: 54px 0 0 0;
        font-size: 20px;
    }
}
.cnt_org {
    margin: 0 0 100px 0;
}

/*해양학술정보DB센터 > 통합검색*/
.cnt_search {
    margin: 0 0 100px 0;
}
.cnt_search ul li a {
    display: block;
}
.cnt_search ul li a h3 {
    color: #2C5C8D;
    font-size: 20px;
    font-weight: 700;
}
.cnt_search ul li a p {
    margin: 11px 0 39px 0;
}
.cnt_search ul li a strong {
    display: block;
    color: #666;
}

/*float 코딩*/
/* .cnt_search ul li {
    float: left;
    width: 25%;
    height: 225px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}
.cnt_search ul li:first-child {
    border-left-width: 1px;
}
.cnt_search ul li a {
    padding: 42px 0 0 57px;
} */

/*table 코딩*/
.cnt_search ul {
    display: table;/*좌우로 배치될 요소를 감싸는 코드에 table을 주고*/
    width: 100%;
    border-collapse: collapse;/*collapse : 표(table)의 테두리와 셀(td)의 테두리 사이의 간격을 없앰. 겹치는 부분은 한 줄로 나타냅니다.*/
}
.cnt_search ul li {
    display: table-cell;/*좌우로 배치되는 요소에 table-cell : td변화*/
    width: 25%;/*넓이를 정해줘야함*/
    height: 225px;
    border: 1px solid #ccc;
    vertical-align: middle;/*위아래 가운데 정렬*/
}
.cnt_search ul li a {
    display: block;
    padding: 42px;
}