/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap'); /* 본명조 */
html, body {
    color: $basic_color;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}

#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/* 브라우저에서 글자를 드래그했을대 드래그한 영역의 색과 글자색
  -moz- -webkit- 이 앞에 붙은 속성은 표준화 되지 않은 속성  */
::selection{background:#CBA585;color:#3E3E3F;}
::-moz-selection{background:#CBA585;color:#3E3E3F;}
::-webkit-selection{background:#CBA585;color:#3E3E3F;} 

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 300;
    transition: 0.5s;
    .logo {
        float: left;
        margin: 30px 0 0 40px;
        svg {
            width: 162px;
            text {
                fill: #FFF;
            }
        }
    }
    .gnb {
        float: right;
        margin: 0 34px 0 0;
        .gnb_open {
            display: none;
        }
        .gnb_wrap {
            ul {
                li {
                    float: left;
                    a {
                        display: block;
                        padding: 0 26px;
                        color: $w_tit_color;
                        font-size: 22px;
                        line-height: 100px; /*헤더의 높이만큼주면 헤더의 위아래 가운데 위치*/
                    }
                }
            }
        }    
    }
    &.fixed{//header.fixed 헤더에 픽스드 클래스가 추가되었을때 - 헤더고정
        position: fixed;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);//브라우저 호환성때문에 
        background-color: rgba(0,0,0,0.1);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
}

@media screen and (max-width:1440px){
    .header .logo a  {
        width: 150px;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_wrap ul li a {
        padding: 0 20px;
         font-size: 21px;
    }
}
@media screen and (max-width:1200px){
    .header .logo a svg {
        width: 130px;
    }
    .header .gnb .gnb_wrap ul li a {
        padding: 0 16px;
         font-size: 20px;
    }
}
@media screen and (max-width:1100px){
    .header {
        height: 100px;
        .logo {
            margin: 18px 0 0 20px;
            a svg {
                width: 140px;
                margin: 14px 0 0 0;
            }
        }
        .gnb {
            .gnb_open {
                display: block;
                position: relative;
                width: 100px;
                height: 100px;
                z-index: 2;
                strong{
                    display: none;
                }
                span {
                    position: absolute;
                    right: 20px;
                    width: 40px;
                    height: 3px;
                    background-color: #FFF;
                    transition: 0.3s;
                    &.line1 { /*span.line1*/
                        top: 35px;
                    }
                    &.line2 {
                        top: 45px;
                        width: 28px;
                    }
                    &.line3 {
                        top: 55px;
                    }
                }
            }
            .gnb_wrap {
                display: block;
                position: fixed;//header기준
                right: -100%;
                top: 0;
                width: 100%;
                max-width: 375px;
                height: 100vh;
                z-index: 1;
                background-color: #FFF;
                color: #3d3d3d;
                transition: right 0.5s;
                ul {
                    margin: 100px 0 0 0;
                    li {
                        float: none;
                        border-bottom: 1px solid #f4f4f4;
                        a {
                            @include font_serif;
                            padding: 0;
                            color: $basic_color;
                            font-size: 19px;
                            line-height: 51px; /*헤더의 높이만큼주면 헤더의 위아래 가운데 위치*/
                            text-align: center;
                        }
                        &:first-child {
                            border-top: 1px solid #f4f4f4;
                        }
                    }
                }
            }    
            &::after {
                //메뉴 하단에 검은 배경을 채울때는 position fixed 주고, 사방에 0주기 높이,넓이에 100%준것과 동일하게 들어감 
                
                /*
                <div class = "gnb">
                    <button class = "gnb_open"></button>
                    <div class = "gnb_wrap"></div>
                    ::after -- gnb::after
                </div>
                이런 구조에서 순서를 조정할 수 있음
                z-index는 이렇게 나란히 들어간 요소들 사이에서 높은 숫자가 위로 올라감
                
                */
                display: none;
                position: fixed;
                opacity: 0;
                transition: opacity 0.5s;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100vh;
                background-color: rgba(0,0,0,0.5);
                content: "";
            }
            //모바일 메뉴가 열렸을때
            &.mobile_open {
                .gnb_open {
                    span {
                        width: 30px;
                        background-color: #3d3d3d;
                        &.line1 { /*span.line1*/
                            top: 50px;
                            transform: rotate(42deg);
                        }
                        &.line2 {
                            right: -40px;
                        }
                        &.line3 {
                            top: 50px;
                            transform: rotate(-42deg);
                        }
                    }
                }
                .gnb_wrap {
                    right: 0;
                }
                &::after {
                    display: block;
                    opacity: 1;
                }
            }
        }//gnb종료
    }
}
@media screen and (max-width:640px){
    .header {
        height: 60px;
        .logo {
            margin: 18px 0 0 20px;
            a svg {
                width: 108px;
                margin: 0;
            }
        }
        .gnb {
            .gnb_open {
                display: block;
                position: relative;
                width: 60px;
                height: 60px;
                strong{
                    display: none;
                }
                span {
                    right: 20px;
                    width: 21px;
                    height: 2px;
                    background-color: #FFF;
                    &.line1 { /*span.line1*/
                        top: 25px;
                    }
                    &.line2 {
                        top: 32px;
                        width: 16px;
                    }
                    &.line3 {
                        top: 39px;
                    }
                }
            }
        }
    }
}

.footer {
    @include clearfix;
    background-color: #33302D;
    color: $w_basic_color;
    padding: 65px 0;
    .sns {
        float: right;
        ul {
            li {
                float: left;
                a {
                    display: block;
                    position: relative;
                    width: 49px;
                    height: 49px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgba(255,255,255,0.1);
                    font-size: 0;
                    line-height: 0;
                    &::before {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        /*배경이미지가 한개를 보이는 영역을 제한해서 써야하기 때문에 bwfore, after에서 표시
                        이때 사이즈는 내가 저장할때 사용된 아이콘의 넓이*/
                        width: 35px;
                        height: 35px;
                        background-image: url(/code/bntailor/images/common/footer_ico.svg);
                        background-repeat: no-repeat;
                        content: "";
                    }
                }
                &:first-child {
                    a {
                        border-left-width: 1px; 
                    }
                }
                &.facebook a::before {
                    background-position: left top;
                }
                &.instagram a::before {
                    background-position: left -35px top;
                }
                &.naver a::before {
                    background-position: left -70px top;
                }
            }//li종료
        }
    }
    .inner {
        float: left;
        .finfo {
            span {
                margin-right: 26px;
            }
        }
        .address {
            margin: 0 0 22px;
        }
    }
}

@media screen and (max-width:640px){
    .footer {
        padding: 58px 0 95px 0;
        .sns {
            float: left;
            ul {
                li {
                    float: left;
                    a {
                        margin: 0 0 28px 0;
                    }
                }//li종료
            }
        }
        .inner {
            float: left;
            .finfo {
                span {
                    margin-right: 20px;
                }
            }
            .address {
                margin: 0 0 22px;
            }
        }
    }
}
