@import "_var.scss";
@import "_default.scss";
@import "_common.scss";

//서브 공통 레이아웃

.sub_visual {
    position: relative;
    margin: 0 0 42px 0;
    height: 650px;
    .sub_visual_bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 650px; //clip-path로 위치가 정확하지 않아 배경을 별도의 요소를 줌
        z-index: -1;
        background-image: url(/code/bntailor/images/sub/sub_visual1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        clip-path: url(#sub_visual_path);
        /* html에서 svg clip-path 에 지정된 id값을 url로 연결하면 해당요소의 path값이 적용됨
        배경이 표시될 영역으로 활용됨
        path로 직접 경로를 사용했는데 안되는 경우, svg path의 크기를 변경해야 하는 경우 이런 방식으로 사용함*/
    }
    &.sub_bg1 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual1.png);
    }
    &.sub_bg2 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual2.png);
    }
    &.sub_bg3 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual3.png);
    }
    &.sub_bg4 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual4.png);
    }
    &.sub_bg5 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual5.png);
    }
    &.sub_bg6 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual6.png);
    }
    &.sub_bg7 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual7.png);
    }
    &.sub_bg8 .sub_visual_bg {
        background-image: url(/code/bntailor/images/sub/sub_visual8.png);
    }
    .sub_visual_path {
        position: absolute;
        right: 0;
        bottom: 0;
        svg {
            width: 1px;
            top: 1px;
        }
    }
    .location {
        display: flex;
        padding: 361px 0 0 0;
        color: $w_tit_color;
        span {
            position: relative;
            margin-right: 16px;
            &::after {
                position: absolute;
                width: 5px;
                height: 7px;
                right: -10px;
                top: 11px;
                background-color: $w_tit_color;
                clip-path: polygon(23% 0%, 36.6% 0%, 75.8% 45.8%, 37% 100%, 23.3% 100%, 59% 47.5%);
                /* 이미지로 하는 것이 아니라 svg를 이용해서 아이콘을 그리는데, 여러번 반복해서 들어가는 경우
                css에서 원하는 도형의 크기, 넓이를 주고 배경색으로 아이콘의 색상을 주고
                clip:path로 path 값을 줌
                장점1. css로 여러요소를 선택해서 도형을 그릴 수 있다는 장점
                단점 1. 사이즈 수정 불가 단, 5로 path를 그린 것은 가능
                     2. 작은 사이즈는 불가, 브라우저 호환성이 떨어짐
                     3. path를 그리는 방법 중 일부는 적용이 안됨.*/
                content: "";
            }
            &:last-child::after {
                display: none;
            }
        }
    }
    .tit {
        @include font_serif;
        color: $w_tit_color;
        font-size: 60px;
        font-weight: 700;
    }
}

@media screen and (max-width:1440px){
    .sub_visual {
        height: 710px;
        .sub_visual_bg {
            height: 100%; 
            clip-path: none;
            /* html에서 svg clip-path 에 지정된 id값을 url로 연결하면 해당요소의 path값이 적용됨
            배경이 표시될 영역으로 활용됨
            path로 직접 경로를 사용했는데 안되는 경우, svg path의 크기를 변경해야 하는 경우 이런 방식으로 사용함*/
        }
        .location {
            padding: 425px 0 0 0;
            span {
                font-size: 22px;
                margin-right: 26px;
                &::after {
                    width: 10px;
                    height: 11px;
                    right: -18px;
                    top: 14px;
                }
            }
        }
        .tit {
            font-size: 79px;
        }
    }
}
@media screen and (max-width:640px){
    .sub_visual {
        height: 290px;
        .location {
            padding: 165px 0 0 0;
            span {
                font-size: 13px;
                &::after {
                    width: 6px;
                    height: 7px;
                    top: 7px;
                }
            }
        }
        .tit {
            font-size: 35px;
        }
    }
}
.lnb {
    height: 68px;
    .lnb_wrap {
        overflow-x: auto; //lnb_wrap
        overflow-y: hidden;
        ul {
            white-space: nowrap;
            margin-left: 15px;
            /*줄바꿈금지 - block, float 들어간 요소에는 안됨
            inline, inline-block요소에만 적용됨
            단, inline-block 요소의 사이사이에 space 한칸의 여백이 들어감
            그럼 요소들 사이의 여백을 이를 감안해서 줄이면 됨*/
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 0 15px;
                    color: #231304;
                    font-size: 22px;
                }
                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                &.active {
                    a {
                        position: relative;
                        font-weight: 700;
                        &::before {
                            position: absolute;
                            left: -6px;
                            top: 0;
                            width: 5px;
                            height: 5px;
                            background-color: #231304;
                            border-radius: 3px;
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:640px){
    .lnb {
        height: 40px;
        .lnb_wrap {
            padding: 20px 0 10px 0;
            ul {
                li {
                    a {
                        padding: 0 7px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}