@import url('default.css');


header {
    /*body를 기준으로 정렬*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;/*z-index 숫자가 높은게 위로 올라감-하단에 다른 요소가 z-index를 갖을 수 있기 때문에 header를 무조건 상단에 두기 위해 안전하게 100
    즉, content 영역에 요소는 z-index를 줘도 100미만의 값을 줘야함*/
    width: 100%;/*absoiute를 주면 해당요소는 inline태그처럼 작동된다. width가 내부 요소가 존재하는 만큼 들어감*/
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

header h1 {
    float: left;
    margin: 24px 301px 0 0;
    font-size: 0;
    line-height: 0;
    /*로고가 글자없이 이미지만 존재하지만 그래도 글자크기와 행간때문에 여백이 발생하는데 이 여백을 없애고 img가 존재하는*/
}
header h1 a {
    display: block;
    width: 119px;
    height: 56px;
    background: url(../images/logo.svg) no-repeat center center / 100%;
}
header .gnb {
    float: left;
}
header .gnb button {
    display: none;/*모바일 메뉴 열기 버튼*/
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 34px 25px;
    color: #fff;
    font-size: 22px;
}
header .tnb {
    float: right;
    margin: 43px 0 0 0; 
}
header .tnb button {
    margin: 0 0 0 21px;
}
header .tnb button i {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
header .tnb button span {
    display: none;
}

header.fixed {/*헤더가 고정했을때 jquery사 class를 추가*/  /*로고가 스크롤을 내리면 색상과 메뉴 구성이 바뀜*/
    position: fixed;
    background-color: #fff;
}
header.fixed h1 a {
    background-image: url(../images/logo_b.svg);/*스크롤 내리면 로고가 바뀜*/
}
header.fixed .gnb ul li a {
    color: #1d1d1d;
}
header.fixed .tnb button i {
    color: #1d1d1d;
}

/*헤더부분 모바일 시작*/
@media screen and (max-width:640px){
    header {
        height: 45px;
    }
    header h1 {
        margin: 13px 0 0 0;
    }
    header h1 a {/*모바일에서는 로고 사이즈가 바뀜*/
        width: 47px;
        height: 22PX;
    }
    header .gnb {
        float: right;
        margin: 12px 0 0 0;
    }
    header .gnb button {
        display: block;/*모바일 보이게 하기 위해 block처리*/
    }
    header .gnb button i {
        color: #fff;
        font-size: 18px;
        font-weight: 300;
    }
    header .gnb button span {
        display: none;
    }
    header .gnb ul {
        display: none;/*모바일에서는 메뉴가 안나옴*/
    }
    header .tnb {
        display: none;
    }
    header.fixed .gnb button i {
        color: #1d1d1d;
    }
}
/*헤더부분 모바일 종료*/

.visual {
    position: relative;/*before의 기준점 (visual inner 까지 검정색 배경을 준 경우의 코딩)*/
    height: 800px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    content: "";
}
.visual .inner {/*검은색 배경 위로 글자가 올라감*/
    position: relative;
    z-index: 1; 
}
.visual h2 {
    padding: 510px 0 15px 0 ; 
    font-size: 30px;
    font-weight: 700px;
    line-height: 1.2;
}
.visual h2 span {
    display: block;/*pc에서만 줄바꿐*/
}

/*visual 모바일 시작*/
@media screen and (max-width:640px){
    .visual {
        height: auto;/*모바일에서는 높이를 주지 않음*/
    }
    .visual h2 {
        padding: 247px 0 45px 0 ; 
        font-size: 25px;
    }
    .visual h2 span {
        display: inline;/*모바일에서는 줄바꿈이 안들어가게 함*/
    }
    .visual h2 span .mo {
        display: none;
    }
    .visual p {
        display: none;/*모바일에서 해당 글자 안보이게*/
    }
}
/*visual 모바일 종결*/

.biz .rowgroup1 {
    margin: 121px 0 100px 0 ;
}
.biz .rowgroup2 {
    margin: 0 0 100px 0;
}
.biz .rowgroup3 {
    margin: 0 0 121px 0;
}
.biz .fleft img {
    float: left;
}
.biz .fleft .inner {
    float: right;
    margin: 0 26px 0 0;
}
.biz .fright img {
    float: right;
}
.biz .fright .inner {
    float: left;
    margin: 0 0 0 26px;
}
.biz .inner {
    width: 485px;
}
.biz h2 {
    margin: 49px 0 9px 0;
    font-size: 30px;
    font-weight: 700;
}
.biz strong {
    display: block;
    margin: 0 0 9px 0;
    font-size: 16px;
    font-weight: 400;
}
.biz .link {
    margin: 42px 0 0 0; 
}
.biz .link ul li {
    float: left;
    width: 137px;
    margin: 0 10px 10px 0;
    border: 1px solid #666;
}

.biz .link ul li a {
    display: block;
    line-height: 40px;
    white-space: nowrap;/*줄바꿈 금지*/
    text-align: center;
}

/*비즈 모바일 시작*/
@media screen and (max-width:640px){
    .biz .rowgroup1 {
        margin: 40px 0 27px 0 ;
    }
    .biz .rowgroup2 {
        margin: 0 0 27px 0;
    }
    .biz .rowgroup3 {
        margin: 0 0 40px 0;
    }
    .biz .fleft img {
        float: none;
    }
    .biz .fleft .inner {
        float: none;
        margin: 0 0 0 0;
    }
    .biz .fright img {
        float: none;
    }
    .biz .fright .inner {
        float: none;
        margin: 0;
    }
    .biz .inner {
        width: auto;
    }
    .biz img {
        width: 100%;/*이미지 태그는 넓이나 높이 하나만 주면 주변 비율에 맞게 줄어듬*/
    }
    .biz h2 {
        margin: 12px 0 6px 0;
        font-size: 20px;
    }
    .biz strong {
        margin: 0 0 5px 0;
        font-size: 14px;
    }
    .biz .link {
        margin: 21px 0 0 0; 
    }
    .biz .link ul li {
        width: auto;
        margin: 0 5px 0 0;
    }   
    .biz .link ul li a {
        padding: 0 12px;
        line-height: 31px;
    }


    /* ↓ link의 ul li를 좌우로 배치하고 슬라이드 하기 위한 코딩 ↓
    1. ul은 모든 li의 넓이의 합을 넓이로 가지고 있어야함
    2. ul은 position absolute 이어야함
    3. ul을 감싸고 있는 요소는 좌우 스크롤을 허용해야함
    4. ul을 감싸고 있는 요소는 높이를 줘야함(내부 콘텐츠 만큼의)*/
    
    .biz .link {
        position: relative;
        overflow: auto;
        width: calc(100% + 20px);/*%단위와 px단위를 동시에 계산해야할때 사용*/
        height: 40px;
    }
    .biz .link ul {
        position: absolute;
        left: 0;
        top: 0;
    }
    .biz .rowgroup1 .link ul {
        width: 471px;
    }
    .biz .rowgroup2 .link ul {
        width: px;
    }
    .biz .rowgroup3 .link ul {
        width: 345px;
    }



}/*비즈 모바일 종료*/

.purpose {
    height: 424PX;
    background-image: url(../images/purpose_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.purpose h2 {
    padding: 91px 0 41px 0;
    font-size: 30px;
}
.purpose h2 strong {
    position: relative;
}
.purpose h2 strong::before {
    left: -58px;
    top: -8px;
    background: url(../images/prop_quot_left.png) no-repeat center center;
    content: '';
}
.purpose h2 strong::after {
    right: -58px;
    bottom: 11px;
    background: url(../images/prop_quot_right.png) no-repeat center center;
    content: '';
}
.purpose h2 strong::before, .purpose h2 strong::after {
    position: absolute;
    width: 35px;
    height: 31px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    color: rgba(255,255,255,0.8);
}



/*purpose 미디어시작*/
@media screen and (max-width:640px){
    .purpose {
        height: auto;
        padding: 0 0 41px 0;
    }
    .purpose h2 {
        padding: 68px 0 46px 0;
        font-size: 25px;
    }
    .purpose h2 strong::before {
        left: -19px;
        top: -37px;
        background-size: 24px auto; /*넓이는 24px로 묶고 높이는 비율에 맞게 알아서*/
        content: '';
    }
    .purpose h2 strong::after {
        right: 68px;
        bottom: -42px;
        background-size: 24px auto;
    }
    .purpose h2 span {
        display: block;/*줄바꿈*/
    }
}
/*purpose 미디어 종료*/

.news {
    margin: 120px 0;
}
.news h2 {
    display: none;/*웹표준 상 section은 반드시 heading 태그를 포함해야하기 때문에 h2를 주고 숨김처리*/
}
.news ul li{
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.news ul li:last-child{
    margin-right: 0;
}
.news ul li a {
    display: block;
}
.news ul li a img {
    width: 100%;
}
.news ul li a .cate {
    display: block;
    margin: 20px 20px 9px 20px;
    font-weight: 700;
}
.news ul li a .tit {
    display: block;
    margin: 0 20px;
    font-weight: 400;
    /* ↓ 2줄로 고정하기*/
    line-height: 1.5;
    height: 3em; /*행간*줄수 - 단위 em*/
    overflow: hidden;
}
.news ul li a .date {
    display: block;
    margin: 26px 20px 24px 20px;
    font-weight: 400;
}

/*뉴스부분 미디어 시작*/
@media screen and (max-width:640px){
    .news {
        margin: 44px 0 40px 0;
    }
    .news ul li {
        display: none;
        float: none;
        width: 100%;
        margin: 0;
    }
    .news ul li:first-child {
        display: block;/*한개의 li이만 나오도록 하기 위해서 모든 li를 숨기고(.news ul li에는 display: none;를 줌)
        첫번째 li이만 남도록*/
    }
    .news ul li a .cate {
        margin: 20px 19px 8px 19px;
        font-size: 13px;
    }
    .news ul li a .tit {
        font-size: 13px;
        height: auto; /*두줄 고정 해제*/
        overflow: auto;
    }
    .news ul li a .date {
        margin: 0 ;
        padding: 42px 20px 27px 20px;
        font-size: 13px;
    }
}
/*뉴스부분 미디어 종료*/

footer {
    background-color: #2f2f2f;
    padding: 72px 0 90px 0;
    color: rgba(255,255,255,0.8);
}
footer .family {
    float: right;
}
footer .family button {/*button태그는 높이를 주면 글자가 위아래 가운데 세로정렬을 함.
    a였다면 padding이나 line-height로 세로정렬값을 별로도 줘야함*/
    width: 157px;
    height: 45px;
    padding: 0 7px 0 13px;
    border: 1px solid rgba(255,255,255,0.8);
}
footer .family button span {
    float: left;
}
footer .family button i {
    float: right;
}
footer .inner {
    float: left;
}
footer .fnav li {
    position: relative;/*작대기 기준점*/
    float: left;
}
footer .fnav li::after {
    position: absolute;/*작대기 놓기*/
    right: -2px;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
footer .fnav li:last-child::after {
    display: none;/*li중에 마지막 li으 after을 숨김*/
}
footer .fnav li .privacy {
    font-weight: 700;
}
footer .fnav li a {
    display: block;
    padding: 0 16px;
}
footer .fnav li:first-child a {
    padding-left: 0;
}
footer .finfo {
    margin: 29px 0 5px 0;
    color: rgba(255,255,255,0.6);

}
footer .copyright {
    color: rgba(255,255,255,0.6);
}

/*footer 미디어시작*/
@media screen and (max-width:640px){
    footer {
        padding: 26px 0 49px 0;
    }
    footer .family {
        float: none;
    }
    footer .family button {
        height: 38px;
        padding: 0 9px 0 18px;
    }
    footer .inner {
        float: none;
    }
    footer .fnav {
        margin: 20px 0 0 0;
    }
    footer .fnav li a {
        display: block;
        padding: 0 16px;
    }
    footer .finfo {
        margin: 29px 0 5px 0;
        color: rgba(255,255,255,0.6);
    
    }
    footer .copyright {
        color: rgba(255,255,255,0.6);
    }
}
/*footer 미디어 종료*/