.content .cnt_introduce .center h3 {
    font-size: 30px;
    font-weight: 700;
}
.content .cnt_introduce .center strong {
    font-weight: 400;
}
.content .cnt_introduce .center .tit_p {
    margin: 17px 0 52px 0;
    font-size: 20px;
}
.content .cnt_introduce .center img {
    float: left;
    margin: 0 0 83px 0;
    width: 680px;
    height: 489px;
}
.content .cnt_introduce .center .inner {
    float: right;
    font-size: 20px;
    width: 666px;
}
.content .cnt_introduce .center .inner p {
    margin: 0 0 83px 0;
    padding: 64px 0 309px 0;

}
.content .cnt_introduce .center .inner strong {
    font-weight: 700;
}
.content .cnt_introduce .change h4 {
    margin: 0 0 35px 0;
    font-size: 30px;
    font-weight: 700;
    color: #098C43;
}
.content .cnt_introduce .change p {
    margin: 0 0 23px 0;
}
.content .cnt_introduce .change p.big {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: 400;
}
.content .cnt_introduce .change p strong{
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.content .cnt_introduce .change p span {
    font-size: 20px;
    font-weight: 700;
}
.content .cnt_introduce .inner01 ul {
    margin: 63px 0 0 0;
}
.content .cnt_introduce .inner01 ul li {
    float: left;
    margin: 0 40px 0 0;
    padding: 97px 0 0 0; 
    width: 426px;
    height: 230px;
    font-size: 20px;
    background-color: rgba(166,202,181,0.3);
    border-radius: 20px;
    text-align: center;
}
.content .cnt_introduce .dog img {
    margin: 146px 0 0 0;
    height: 506px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content .cnt_introduce .question {
    margin: 0 0 165px 0;
}
.content .cnt_introduce .question ul {
    position: relative;
    margin: 109px 0 191px 0;
}
.content .cnt_introduce .question ul li {
    float: left;
    margin: 0 40px 0 80px;
    width: 598px;
}
.content .cnt_introduce .question ul li::before {
    position: absolute;
    left: 20px;
    top: -43px;
    z-index: -1;
    width: 114px;
    height: 114px;
    border-radius: 60px;
    background-color: rgba(159,199,177,0.3);
    content: "";
}
.content .cnt_introduce .question ul li.color::before {
    position: absolute;
    left: 747px;
    top: -43px;
    z-index: -1;
    width: 114px;
    height: 114px;
    border-radius: 60px;
    background-color: rgba(238,228,136,0.3);
    content: "";
}
.content .cnt_introduce .question ul li:last-child {
    margin-right: 0;
}
.content .cnt_introduce .question ul li strong {
    font-size: 30px;
    font-weight: 400;
}
.content .cnt_introduce .question ul li p {
    margin: 20px 0 0 0;
}
.content .cnt_introduce .inner02 {
    margin: 0 0 151px 0;
    text-align: center;
}
.content .cnt_introduce .inner02 h3 {
    font-size: 30px;
    font-weight: 700;
    color: #1d1d1d;
}
.content .cnt_introduce .inner02 p {
    margin: 19px 0 24px 0;
    font-size: 20px;
}
.content .cnt_introduce .inner02 strong {
    font-size: 30px;
    font-weight: 400;
}
.content .cnt_introduce .inner02 em {
    font-weight: 700;
}
.content .cnt_introduce .inner02 span {
    font-weight: 700;
    color: #098C43;
}

@media screen and (max-width:640px){
    .content .cnt_introduce .center h3 {
        font-size: 20px;
    }
    .content .cnt_introduce .center .tit_p {
        margin: 7px 0 31px 0;
        font-size: 13px;
    }
    .content .cnt_introduce .center img {
        float: none;
        margin: 0;
        width: auto;
        height: 227px;
    }
    .content .cnt_introduce .center .inner {
        float: none;
        font-size: 13px;
        width: auto;
    }
    .content .cnt_introduce .center .inner p {
        margin: 25px 0 46px 0;
        padding: 0;
    
    }
    .content .cnt_introduce .change h4 {
        margin: 0 0 3px 0;
        font-size: 20px;
    }
    .content .cnt_introduce .change p {
        margin: 0 0 21px 0;
    }
    .content .cnt_introduce .change p.big {
        margin: 0 0 23px 0;
        font-size: 15px;
    }
    .content .cnt_introduce .change p strong{
        display: inline;
        font-size: 15px;
    }
    .content .cnt_introduce .change p span {
        font-size: 13px;
    }
    .content .cnt_introduce .inner01 ul {
        margin: 21px 0 0 0;
    }
    .content .cnt_introduce .inner01 ul li {
        float: none;
        margin: 0 0 9px 0;
        padding: 39px 0 0 0; 
        width: auto;
        height: 104px;
        font-size: 18px;
    }
    .content .cnt_introduce .dog img {
        margin: 41px 0 0 0;
        height: 177px;
    }
    .content .cnt_introduce .question {
        margin: 0 0 68px 0;
    }
    .content .cnt_introduce .question ul {
        margin: 86px 0 0 0;
    }
    .content .cnt_introduce .question ul li {
        margin: 0 0 64px 0;
        width: auto;
    }
    .content .cnt_introduce .question ul li::before {
        left: -16px;
        top: -37px;
        width: 78px;
        height: 78px;
        border-radius: 40px;
    }
    .content .cnt_introduce .question ul li.color::before {
        left: -16px;
        top: 207px;
        width: 78px;
        height: 78px;
        border-radius: 40px;
    }
    .content .cnt_introduce .question ul li strong {
        font-size: 15px;
    }
    .content .cnt_introduce .question ul li p {
        margin: 18px 0 0 0;
    }
    .content .cnt_introduce .inner02 {
        margin: 0 0 133px 0;
    }
    .content .cnt_introduce .inner02 h3 {
        font-size: 18px;
    }
    .content .cnt_introduce .inner02 p {
        margin: 12px 0 34px 0;
        font-size: 13px;
    }
    .content .cnt_introduce .inner02 strong {
        font-size: 18px;
    }
}
