@import url('default.css');
@import url('common.css');


.visual {
    position: relative;
    padding: 105px 0;
    color: #fff;
    height: 1032px;
    background-color: #000;
}
.visual h2 {
    font-family: 'Tenada';
    font-size: 125px;
    line-height: 201px;
}
.visual p {
    text-align: center;
    font-size: 36px;
}
.visual img {
    position: absolute;
    right: 333px;
    bottom: 105px;
}


.intro {
    margin: 130px  0 0 0;
}
.intro h2 {
    display: none;
}
.intro .inner {
    margin: 0 0 143px 0;
}
.intro .inner ul {
    margin-top: 76px;
}
.intro .inner ul li p {
    font-size: 20px;
}
.intro .inner ul li .tit {
    margin: 0 0 6px 0;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 25px;
    color: #1d1d1d;
}
.intro .inner ul.pic {
    float: left;
    width: 50%;
}
.intro .inner ul.pic li .profile img {
    margin: 0 0 0 154px;
}
.intro .inner ul.pic li .profile p {
    text-align: center;
}
.intro .inner ul.pic li .about p {
    width: 572px;
}
.intro .inner ul li {
    margin: 0 0 87px 0;
}


.intro .inner ul.info {
    position: relative;
    float: right;
    width: 50%;
    padding-left: 78px;
}
.intro .inner ul.info::before {
    position: absolute;
    left: 0;
    top: -77px;
    width: 1px;
    height: 802px;
    background-color: #ccc;
    content: "";
}
.intro .inner ul.info li:first-child {
    margin-top: 20px;
}
.intro .inner ul.info li p {
    display: block;
    margin: 0 0 23px 0;
}
.intro .inner ul.info li p span {
    margin-right: 33px;
}
.intro .inner ul.info li p span.tit1 {
    margin: 0 0 0 75px;
}

.index {
    padding: 35px 0 0 54px;
    height: 112px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.index ul li {
    position: relative;
    float: left;
}
.index ul li::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 47px;
    background-color: #fff;
    content: "";
}
.index ul li:last-child:after {
    display: none;
}
.index ul li a {
    display: block;
    margin: 0 54px;
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 35px;
}

.main .swarovski {
    padding: 72px 165px 0 165px;
    height: 186px;
    background: url(../images/no.1_bg.png) no-repeat center center /cover;
}
.main .swarovski .top {
    display: flex;
    justify-content: space-between;
}
.main .swarovski .top h2 {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 50px;
    color: #fff;
}
.main .swarovski .top img {
    height: 41px;
}
.main .swarovski .cnt {
    padding: 91px 0 0 0;
}
.main .swarovski .cnt .tit {
    
} 


.finish {
    position: relative;
    padding: 100px 0 0 0;
    background-color: #000;
    height: 708px;
    color: #fff;
}
.finish h2 {
    font-family: 'LeferiPoint-SpecialItalicA';
    font-size: 60px;
}
.finish i {
    font-weight: 100;
}
.finish strong {
    position: absolute;
    left: calc(50% - 250px);
    bottom: 100px;
    font-family: 'Tenada';
    font-size: 113px;
}
.finish p {
    font-weight: 20px;
}
.finish .phone {
    display: flex;
    margin-bottom: 20px;
}
.finish .phone i {
    padding-right: 20px;
}
.finish .mail {
    display: flex;
}
.finish .mail i {
    padding-right: 20px;
}