@import url('default.css');
@import url('common.css');

body{
    padding-bottom: 100px;
}
.popup {
    height: 800px;
}
.popup ul li .txt {
    position: absolute;
    /* left: calc(50% - 700px); 왼쪽정렬*/
    left: 50%;
    top: 50%;
    color: #fff;
    /* transform: translate(0,-50%); 왼쪽정렬 - 해당 요소의 넓이를 기준으로 %를 계산 */
    transform: translate(-50% , -50%); /*가운데정렬*/
    text-align: center;/*가운데정렬*/
}
.popup ul li .txt span {
    display: block;
    font-size: 20px;
}
.popup ul li .txt strong {
    display: block;
    font-weight: 700;
    font-size: 50px;
}
.popup ul li img {/*팝업의 이미지를 img태그로 처리한 경우 img에 주는 필수값*/
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* @media screen and (max-width:1440px){
    .popup ul li .txt { 왼쪽정렬
        left: 5%;
    }
} */

.popup .button-prev ,.popup .button-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    line-height: 0;
}
.popup .button-prev {
    left: 20px;
}
.popup .button-next {
    right: 20px;
}
.popup .button-prev::before ,.popup .button-next::before {
    position: absolute;
    top: -50px;/*높이의 절반 - 위아래 가운데 배치*/
    width: 50px;
    height: 100px;
    background: url(../images/pop_arrow.svg) no-repeat center center /contain;
    opacity: 0.8;
    content: "";
}
.popup .button-prev::before {
    left: 0;
}
.popup .button-next::before {
    right: 0;
    transform: rotate(180deg);/*회전*/
}
.popup .ctrl_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;/*나를 기준으로 가운데 정렬*/
    bottom: 48px;
    z-index: 10;
    transform: translate(-50%, 0);/*나를 기준으로 가운데 정렬*/
}

/*
  css스타일이 중복될때 - 플러그인에서 준 스타일을 수정할때
  css 선택자를 우선 적용될 수 있도록 설계해야함
  1. 더 먼 요소부터 선언함 (body부터 지정)

  2. 스타일을 줄 요소를 정확하게 지칭해야함
     태그명보다 스타일명이 더 정확한 지칭임(적용 우선순위가 높음)
     span(우선순위 낮음)
     swiper-pagination-bullet
     span.swiper-pagination-bullet (이렇게 부르는게 우선순위가 더 높음)

3. css가 우선 적용되지 않을때(권장하지 않는 방법)
     속성에 important를 추가해서 무조건 적용되게 한다.
     예시, width: 10px !important;
*/
.popup .btn_paging span.swiper-pagination-bullet { /*동그라미*/
    width: 10px;
    height: 10px;
    margin: 0 5px 0 5px ;
    opacity: 1;
    background-color: #fff;
}
/* .popup .btn_paging span.swiper-pagination-bullet-active
    이렇게만 지칭하면 .popup .btn_paging span.swiper-pagination-bullet스타일과 충돌됨 */
.popup .btn_paging span.swiper-pagination-bullet.swiper-pagination-bullet-active {/*해당 동그라미 표시*/
    background-color: #4d4d4d;
}
.popup .btn_stop {/*일시정지*/
    font-size: 0;
    line-height: 0;
    width: 24px;
    height: 16px;
    background-image: url(../images/pop_stop.svg);
    background-repeat:  no-repeat;
    background-position: center center;
    background-size : contain;
}
.popup .btn_stop.play {/*플레이*/
    background-image: url(../images/pop_play.svg);
}

@media screen and (max-width:1000px){
    .popup {
        height: 600px;
    }
    .popup .button-prev::before ,.popup .button-next::before {
        top: -35px;/*높이의 절반 - 위아래 가운데 배치*/
        width: 35px;
        height: 70px;
    }
}
@media screen and (max-width:640px){
    .popup {
        height: 400px;
    }
    .popup ul li .txt span {
        font-size: 15px;
    }
    .popup ul li .txt strong {
        font-size: 25px;
    }
    .popup .button-prev::before ,.popup .button-next::before {
        display: none;
    }
}

h1 {
    margin: 50px 0 10px 0;
    font-size: 40px;
    font-weight: 700;
}
.banner1 ul li img {
    width: 100%; /*li의 사이즈에 맞춰서 가로를 꽉채워 들어감 - 높이는 비율에 맞게*/
}
.banner1 ul li strong {
    display: block;
    font-size: 20px;
}

@media screen and (max-width:1000px){
    h1 {
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    h1 {
        font-size: 20px;
    }
}



.banner2 ul li {
    width: 260px;
}
.banner2 ul li img {
    width: 100%; /*li의 사이즈에 맞춰서 가로를 꽉채워 들어감 - 높이는 비율에 맞게*/
}
.banner2 ul li strong {
    display: block;
    font-size: 20px;
}

@media screen and (max-width:1000px){
    .banner2 ul li {
        width: 230px;
    }
}
@media screen and (max-width:640px){
    .banner2 ul li {
        width: 200px;
    }
}