/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*1400px 이하부터 320px까지 모든 사이즈 반응형
     1400px 일때도 좌우에 여백은 유지해야함
     (1400이상에서 1400이하로 변경되는 점- 반응형으로 전환되는점)
     부드럽게 여백을 유지하면서 전환
     원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
     1400px이 콘텐츠 영역인데 왼쪽20 오른쪽 20 =1440px
     padding으로 좌우에 여백을 20px씩 줌
     */
}

@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }   
}

@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0059A8;
    color: #FFF;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}


.header {
    height: 100px;
}
.header .logo {
    float: left;
    margin: 39px 0 0 0;
    font-size: 0;
    line-height: 0;
}
.header .logo img {
    width: 120px;
}
.header .gnb {
    float: right;
}
.header .gnb .gnb_open {
    display: none;
}
.header .gnb ul li {
    float: left;
}
.header .gnb ul li a {
    display: block;
    padding: 0 38px;
    line-height: 100px; /*위아래 가운데*/
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 700;
}

@media screen and (max-width:1000px){
    .header .gnb ul li a {
        padding: 0 20px;
        font-size: 18px;
    }
    .header .logo {
        margin: 39px 0 0 0;
    }
    .header .logo img {
        width: 100px;
    }
}

@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 21px 0 0 0;
    }
    .header .logo img {
        width: 90px;
    }
    .header .gnb .gnb_open {
        display: block;
        padding: 18px 0 0 0;
    }
    .header .gnb .gnb_open img {
        width: 26px;
    }
    .header .gnb ul {
        display: none;
    }
}/*header 모바일 종료*/


.footer {
    position: relative;

}
.footer .family {
    position: absolute;
    right: calc(50% - 700px);
    /*wrapper 없이 컨텐프 영역의 오른쪽 끝에 family 배치
      right 50%에서 콘텐츠의 넓이 절반(700px)을 빼줌
    */
    top: 87px;
}
.footer .family button {
    width: 136px;
    height: 31px;
    border: 1px solid #ccc;
    color: #666;
}
.footer .ftop {
    height: 67px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.footer .ftop .fnav li {
    position: relative;
    float: left;
    margin-right: 36px;
    color: #666;
}
.footer .ftop .fnav li::after {
    position: absolute;
    right: -18px;
    top: 29px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    content: "";
}
.footer .ftop .fnav li:last-child:after {
    display: none;
}
.footer .ftop .fnav li.privacy a {
    font-weight: 700;
}
.footer .ftop .fnav li a {
    display: block;
    line-height: 67px; /*ftop의 높이에 위아래 가운데 글자를 배치하는 가장 쉬운 방법*/
}
.footer .fsub .flogo {
    float: left;
}
.footer .fsub .flogo img {
    width: 80px;
    filter: grayscale(100%);
}
.footer .fsub .inner {
    margin: 33px 0 80px 175px;
}
.footer .fsub .finfo span {
    display: inline-block;
    margin-right: 32px;
    line-height: 30px;
    color: #666;
}
.footer .fsub .copyright {
    margin-top: 24px;
    color: #999;
}

@media screen and (max-width:1440px){
    .footer .family {
        right: 20px;
    }
}
@media screen and (max-width:1000px){
    .footer .family {
        position: relative;
        right:auto;
        top: auto;
        margin: 29px 0 29px 20px;
    }
    .footer .ftop {
        height: auto;
        border-top: 0;
        border-bottom: 0;
    }
    .footer .ftop .fnav li {
        margin-right: 25px;
    }
    .footer .ftop .fnav li::after {
        right: -16px;
        top: 8px;
        height: 9px;
    }
    .footer .ftop .fnav li a {
        line-height: 23px; /*ftop의 높이에 위아래 가운데 글자를 배치하는 가장 쉬운 방법*/
    }
    .footer .fsub .flogo {
        display: none;
    }
    .footer .fsub .inner {
        margin: 28px 0 90px 0;
    }
    .footer .fsub .finfo span {
        margin-right: 12px;
        line-height: 23px;
    }
    .footer .fsub .copyright {
        margin-top: 20px;
    }
}
