@import url('default.css');
@import url('common.css');

.popup ul li {
    position: relative;
}
.popup ul li .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%,-50%);/*좌우가운데, 위아래가운데*/
}
.popup ul li .txt span {
    display: block;
    font-size: 30px;
}
.popup ul li .txt strong {
    display: block;
    font-size: 60px;
    font-weight: 700;
}


.visual1 .ctrl_prev,
.visual1 .ctrl_next {
    position: absolute;
    z-index: 10;
    top: calc(50% - 59px);
    font-size: 0;
    line-height: 0;
}
.visual1 .ctrl_prev {
    left: 5%;
}
.visual1 .ctrl_next {
    right: 5%;
}
.visual1 .ctrl_prev::before,
.visual1 .ctrl_next::before {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    width: 59px;
    height: 118px;
    background: url(../images/pop_arrow.svg) no-repeat center center / contain;
    content: "";
}
.visual1 .ctrl_next::before {
    left: auto;
    right: 0;
    transform: rotate(180deg); /*이미지 뒤집기*/
}
.visual1 .ctrl_group {
    position: absolute;
    left: calc(50% - 93px);
    bottom: 5%;
    width: 185px;
    height: 45px;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}